* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#messages {
    font-family: sans-serif;
    width: 700px;
    height: 600px;
    background-color: aliceblue;
    margin-bottom: 20px;
    padding: 20px 30px;
    overflow: auto;
}

form input[type="text"], form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 5px;
    margin-bottom: 15px;
}

form input[type="submit"] {
    transition: all .4s ease;
    cursor: pointer;
}

form input[type="submit"]:hover {
    color: aliceblue;
    background-color: rgb(0, 119, 255);
}

/* MEDIA CONTROL*/

@media (max-width: 740px) {
    #messages {
        width: 500px;
    }
}

@media (max-width: 525px) {
    #messages {
        width: 350px;
    }
}